h1 {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 40px;
    margin-left: 20px;
}

h2 {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 50px;
    margin-left: 20px;
    margin-top: -2%;
}

html {
    background-color: black;
}


.allpage {
    justify-content: center;
    vertical-align: middle;
    text-align: left;
}

.boxdesign {
    padding: 20px;
    margin: 20px;
    color: white;
    font-family: Arial;
    height: auto;
    width: auto;
    background-color: #3d3d3d;
    flex-wrap: wrap;

}

.boxtitle {
    font-size: 20px;
    font-weight: 400;
    flex-wrap: wrap;
    font-family: 'Space Grotesk', sans-serif;
}

.boxtext {
    font-size: 50px;
    font-weight: 400;
    flex-wrap: wrap;
    font-family: 'Space Grotesk', sans-serif;
}

.boxtext2 {
    font-size: 50px;
    font-weight: 200;
    flex-wrap: wrap;
    margin-bottom: 20px;
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
}

.keywordboxdesign {
    border: 3px solid white;
    padding: 20px;
    margin: 20px;
    color: white;
    font-family: Arial;
    height: auto;
    width: 1000px;
    background-color: black;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.keywordboxdesign2 {
    border: 3px solid white;
    padding: 20px;
    margin: 20px;
    color: white;
    font-family: Arial;
    height: auto;
    width: 2000px;
    background-color: black;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.keywordslider {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.fill {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.image_div {
    font-size: 50px;
    font-weight: 200;
    flex-wrap: wrap;
    margin-top: 20px;
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    justify-content: center;
}



  