h1 {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 50px;
    margin-left: 7%;
}

h2 {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 50px;
    margin-left: 7%;
    margin-top: -2%;
}

.whole_page {
    padding: 5%;
    margin-top: -5%;
}

.first_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

html {
    background-color: black;
}

.container_one_first_row {
    display: flex;
    width: 45%;
    height: 50%;
    border: 2px solid white;
    padding-top: 1%;
    padding-left: 1.5%;
    padding-bottom: 50px;
    margin-right: 10px;
    flex-wrap: wrap;
}

.value_container {
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row;
    padding-right: 50%;
}

.value_container_2 {
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 100px;
    display: flex;
    justify-content: center;
}

.title_container {
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 30px;
}

.container_two_first_row {
    display: flex;
    width: 45%;
    height: 50%;
    border: 2px solid white;
    padding-top: 1%;
    padding-left: 1.5%;
    padding-bottom: 200px;
    margin-left: 10px;

}

.second_row {

}

.image {
    margin-top: 10px;
    width: 47%; 
    height: auto;
    margin-left: 2%;
}