@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

html {
    background-color:black;
}

.title_cool {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
    display: flex;
    margin-left: 6%;
    margin-top: 5%;
}

.image_earth {
    margin-top: 9%;
    margin-left: -5%;
    position: absolute;
    height: 20%;
    width: auto;
    padding-bottom: 13%;
}

.date {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
    display: flex;
    margin-left: 6%;
    margin-top: 0%;
}

.description {
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20px;
  display: flex;
  margin-left: 6%;
  margin-top: 10px;
}

.base_line {
    height: 3px;
    width: 86%;
    background-color: white;
    position: absolute;
}

.vertical_line_left {
    margin-left: 20%;
}

.text_rotate {
    color: white;
    transform: rotate(-70deg);
    white-space: nowrap;
    margin-top: -30px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    transition: 0.3s;
    text-decoration: none;
}



.text_rotate:hover {
  cursor: pointer;
  margin-top: -45px;
}

.vertical_lines_con {
    display: flex;
    justify-content: space-between;
}

.vertical_line {
    height: 30px;
    width: 3px;
    background-color: white;
}


.big_box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    align-content: flex-end;
    padding-top: 35%;
    margin-left: 8%;
    margin-right: 12%;
}


a {
  color: white;
}

a:link {
  text-decoration: none;
  transition: 00.3s;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}


.sorted_by_distance {
  color: white;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Space Grotesk', sans-serif;
  display: flex;
  justify-content: center;
  
}





/* ----------- NON ESSENTIAL CSS -------------- */



.typing-demo {
  width: 28ch;
  animation: typing 2s steps(28), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  color: white;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


.bottom_part {
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  display: flex;
  justify-content: center;
  padding: 20px;
}