@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

html {
    background-color:black;
}

.title_cool {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
    display: flex;
    margin-left: 6%;
    margin-top: 5%;
}

.image_earth {
    margin-top: 9%;
    margin-left: -6%;
    position: absolute;
    height: auto;
    width: 12%;
    padding-bottom: 13%;
}

.date {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
    display: flex;
    margin-left: 6%;
    margin-top: 0%;
}





.vertical_line_left {
    margin-left: 20%;
}




.text_rotate:hover {
  cursor: pointer;
  margin-top: -45px;
}

.vertical_lines_con {
    display: flex;
    justify-content: space-between;
}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-device-width: 200px) {
  .big_box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    align-content: flex-end;
    padding-top: 35%;
    margin-left: -300px;
    margin-right: 12%;
    margin-top: 500px;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

  }

  .sorted_by_distance {
    color: white;
    margin-top: 10px;
    font-size: 30px;
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    justify-content: center;
    margin-left: -900px;
    margin-top: -300px;
    
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .bottom_part {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 100%;

  }

  .base_line {
    height: 3px;
    width: 100%;
    background-color: white;
    position: absolute;
  }

  .text_rotate {
    color: white;
    transform: rotate(-70deg);
    white-space: nowrap;
    margin-top: -30px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
    transition: 0.3s;
    text-decoration: none;
    margin-right: 100px;
  }

  .vertical_line {
    height: 30px;
    width: 3px;
    background-color: white;
    border-radius: 10px;
    margin-right: 50px;
  }

  .description {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
    display: flex;
    margin-left: 6%;
    margin-top: 10px;
  }
}









/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-device-width: 500px) {
  .big_box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    align-content: flex-end;
    padding-top: 10%;
    margin-left: 8%;
    margin-right: 12%;
    margin-top: 20%;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .sorted_by_distance {
    color: white;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .bottom_part {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 5%;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .base_line {
    height: 3px;
    width: 100%;
    background-color: white;
    position: absolute;
  }

  .text_rotate {
    color: white;
    transform: rotate(-70deg);
    white-space: nowrap;
    margin-top: -30px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    transition: 0.3s;
    text-decoration: none;
  }

  .vertical_line {
    height: 30px;
    width: 3px;
    background-color: white;
    border-radius: 10px;
    margin-right: 0px;
  }

  .description {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    display: flex;
    margin-left: 6%;
    margin-top: 10px;
  }
}







a:link {
  text-decoration: none;
  transition: 00.3s;
}

a:visited {
  text-decoration: none;
}



a {
  color: white;
  position: relative;
  text-decoration: none;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #fd6933;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}








/* ----------- NON ESSENTIAL CSS -------------- */



.typing-demo {
  width: 28ch;
  animation: typing 2s steps(28), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  color: white;
  flex-wrap: wrap;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


