html {
    background-color: black;
}

h1 {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 10px;
}

h3 {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 20px;
}

p {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 30px;
}

/* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: lightgreen;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: yellow;
  }