<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='asteroid_info_css.css')}}" />
<html>
<head>
<title>{{asteroid_name}}</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='asteroid_logo.png') }}">
</head>
<body>
    <div class="main"></div>
</body>

<h1>
    Name - {{asteroid_name}}
</h1>

<div class="allpage">
    <div class="keywordslider">
        <div class="keywordboxdesign">
            <div class="boxtitle">
                Diameter:
                    <div class="boxtext2">
                        {{diameter_min}} Meters
                    </div>
            </div>
        </div>

        <div class="keywordboxdesign">
            <div class="boxtitle">
                Relative Velocity:
                    <div class="boxtext2">
                        {{asteroid_kmh}} Km/h
                    </div>
            </div>
        </div>
    </div>


    <div class="keywordslider">

        <div class="keywordboxdesign4">

            <div class="boxtitle">
                Asteroid ID:
                    <div class="boxtext2">
                        {{asteroid_ID}}
                    </div>
            </div>

            <div class="boxtitle">
                Earth Miss Distance:
                    <div class="boxtext2">
                        {{asteroid_miss_earth_km}} Km
                    </div>
            </div>

            <div class="boxtitle">
                Asteroid-Earth Approach Time:
                    <div class="boxtext2">
                        {{asteroid_approach_time}} GMT+1
                    </div>
            </div>

            <div class="boxtitle">
                Is the asteroid potentially hazardous?
                    <div class="boxtext2">
                        {{asteroid_dangerous}}
                    </div>
            </div>

            <div class="boxtitle">
                Full orbit time:
                    <div class="boxtext2">
                        {{orbit_years}} Years
                    </div>
            </div>

            <div class="boxtitle">
                Average orbit distance:
                    <div class="boxtext2">
                        {{average_orbit_distance}} Km.
                    </div>
            </div>

            <div class="boxtitle">
                First Observed: (YYYY-MM-DD)
                    <div class="boxtext2">
                        {{first_observed}}
                    </div>
            </div>
            <div class="boxtitle">
                Last Observed: (YYYY-MM-DD)
                    <div class="boxtext2">
                        {{last_observed}}
                    </div>
            </div>
            <div class="boxtitle">
                Orbit Circumference: (Length)
                    <div class="boxtext2">
                        {{circumference_orbit}} Km.
                    </div>
            </div>
        </div>

        <div class="keywordboxdesign3" style="background-color: black;">
            <div class="boxtitle" style="color: white;">
                {{asteroid_name}}'s Current Orbit: (AU)
                    <div class="image_div">
                    </div>
                    <div class="boxtitle2">
                        Source Of Asteroid Information:
                            <div class="boxtext3">
                                {{source}}
                            </div>
                    </div>
            </div>
        </div>
        
    </div>
    
</div>


