<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index_css.css')}}" />
<html>
<head>
<title>Home</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='asteroid_logo.png') }}">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CZ8HFPPZKJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CZ8HFPPZKJ');
</script>

<meta name="keywords" content="asteroid, asteroid earth, asteroids close to earth, approaching asteroids, astorbit, astorbit.com, ateroid orbit, meteor approaching earth, close asteroids, asteroid viewer, asteroid info, asteroid data, current asteroids, nasa asteroids, asteroids that will approach earth, neo asteroids, asteroid astorbit, asteroid orbit, Close To Earth Asteroids, asteroids today, asteroids tomorrow">
<meta name="description" content="Where you can see all of the asteroids that will approach earth today and tomorrow">
<meta content="Astorbit - Close To Earth Asteroids" property="og:site_name">
<meta content="Astorbit - Close To Earth Asteroids" property="og:title">
<meta content="Where you can see all of the asteroids that will approach earth today and tomorrow" property="og:description">

<body>

<div class="title_cool">
    <div class="wrapper">
        <div class="typing-demo">
            Asteroids Approaching Earth.
        </div>
    </div>
</div>

<div class="date">{{date}}</div>
<div class="description">This website shows all of the asteroids that will approach earth in the date above </div>



<div class="big_box">
    <img src="{{ earth_img }}" alt="User Image" class="image_earth">
    <div class="base_line"></div>

    <div class="vertical_line" style="margin-right: 5%;"></div>

    


    
    {% for el in result %}
        <div class="vertical_line">
            <div class="text_rotate">
                <a href="/asteroid{{el[8]}}"><b style="font-weight: 600;">{{el[1]}}</b> - <b style="font-weight: 300; color: rgb(162, 162, 162);">{{el[4]}} GMT+1</b></a>
            </div>
        </div>
    {% endfor %}


</div>

<div class="sorted_by_distance">
    Sorted by Earth miss distance - Left to Right
</div>
<br>
<br>
<br>
<br>
<div class="bottom_part">
    Information gotten from NASA
    <a href="/sources_of_information"> - LINK</a>
</div>

</body>
</html>