<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='sources_of_information_css.css')}}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='asteroid_logo.png') }}">
<html>
    <head>
        <title>Sources Of Information</title>
    </head>

    <h1>Sources Of Information</h1>

    <div>
        <h3>
            NASA
        </h3>
        <p>
            Information gotten from the NASA API
        </p>
        <p>
            https://api.nasa.gov/
        </p>
        <p>
            https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html#/
        </p>
        <p>
            <h3>Example Query from the NASA API</h3>
        </p>
        <p>
            https://api.nasa.gov/neo/rest/v1/feed?start_date=2015-09-07&end_date=2015-09-08&api_key=DEMO_KEY
        </p>
        <h3>Example Code</h3>
        <p>
            Used some of my old code from: https://github.com/strumberr/Learn-Pedia
        </p>
    </div>

</html>