<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='sources_of_information_css.css')}}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='asteroid_logo.png') }}">
<html>
    <head>
        <title>Sources Of Information</title>
    </head>

    <h1>Sources Of Information</h1>

    <div>
        <h3>
            NASA
        </h3>
        <p>
            Information gotten from the NASA API
        </p>
        <p>
            <a href="https://api.nasa.gov/">https://api.nasa.gov/</a>
        </p>
        <p>
            https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html#/
        </p>
        <p>
        <h3>More sources for information and code</h3>
        <p>
            Book: "Python for mechanical and aerospace engineering" By Alex Kenan
        </p>
        <p>
            Stack overflow - stackoverflow.com
        </p>
        <p>
            Programiz - <a href="programiz.com">programiz.com</a>
        </p>
        <p>
            Github - <a href="github.com">github.com</a>
        </p>
        <p>
            W3schools - <a href="w3schools.com">w3schools.com</a>
        </p>
        <h3>PyAstronomy</h3>
        <p>
            <a href="https://pypi.org/project/PyAstronomy/">https://pypi.org/project/PyAstronomy/</a>
        </p>
        <p>
            <a href="https://pyastronomy.readthedocs.io/en/latest/">https://pyastronomy.readthedocs.io/en/latest/</a>
        </p>
    </div>

</html>